name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository
      uses: actions/checkout@v2
    - name: Build
      uses: oxr463/setup-cordova@0.0.2
      with:
        exec: |
          cordova platform add android && \
          cordova build --no-telemetry
    - name: Store generated APK file
      uses: actions/upload-artifact@v2
      with:
        name: ytmous-apk
        path: /github/workspace/platforms/android/app/build/outputs/apk/debug/
