name: Build

on:
  push:
    branches:
      - master
      

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository
      uses: actions/upload-artifact@v2
    - name: Build
      uses: oxr463/setup-cordova@0.0.2
      run: |
        cordova platform add android && \
        cordova build --no-telemetry && \
        cp "$(find . -name '*.apk')" .
    - name: Store generated APK file
      uses: actions/upload-artifact@v2
      with:
        name: ytmous-apk
        path: .
